<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Virtual Presente C&amp;A Fashiontronics</title>
<style type="text/css">
body { width: 100% !important; }
</style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FFFFFF;width: 100% !important;">
<center>
	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #FFFFFF;height: 100% !important;width: 100% !important;">
		<tr>
			<td align="center" valign="top" style="border-collapse: collapse;"> 
				<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="font-family:cursive;">
					<tr>
						<td align="center" valign="top" style="padding-top: 60px;border-collapse: collapse;"> 
							<table border="0" cellpadding="0" cellspacing="0" id="templateHeader">
								<tr style="height: 200px ! important;">
									<td style="overflow: hidden;">
										<img src="http://p2wiki.com.br/images/LogoCursive.png" style="position: relative; height: 600px;">
									</td>
								</tr>
								<tr>
									<td width="600" class="headerContent" style="padding-bottom: 40px;border-collapse: collapse;color: #303030;font-size: 40px;font-weight: bold;line-height: 100%;text-align: center;vertical-align: middle;">
										<h1 style="color: #303030;display: block;font-size: 40px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">##NOME##, mandou uma solicita&#xE7;&#xE3;o  <br />
											para ser um cliente P2Wiki</h1>
									</td>
								</tr>
								<tr>
									<td align="center" valign="top" style="padding-bottom: 40px;border-collapse: collapse;">
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td align="center" width="450" height="100" valign="top" style="border-collapse: collapse;"><h3 style="color: #303030;display: block;font-size: 40px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">E seu motivo para esta solicita&#xE7;&#xE3;o &#xE9; :</h3></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td align="center" valign="top" style="padding-bottom: 40px;border-collapse: collapse;">
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td align="center" width="450"  valign="top" style="border-collapse: collapse;">##MOTIVO##</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td valign="top" align="center" style="padding-bottom: 40px;border-collapse: collapse;">
										<table cellspacing="0" cellpadding="0" border="0">
											<tr>
												<td width="450" valign="top"  align="left" style="border-collapse: collapse;font-size:20px;font-weight:bold;">Foi criado um usuario para ##NOME## que recebeu o c&#xF3;digo '##CODIGO##'.<br> Caso deseja aprovar esta solicita&#xE7;&#xE3;o clique no link abaixo, ative o cliente e crie um usu&#xE1;rio administrador .</td>
											</tr>
											<tr>
												<td width="450" valign="top" align="center" style="border-collapse: collapse;">##LINK##</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
							
						</td>
					</tr>
				</table>
			</td>	
		</tr>
	</table>
</center>
</html>


